<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col m3">
		<div class="collection">
			<% @videos.each do |video| %>			
					<%= link_to video.title, video, :class => 'collection-item' %>			
			<% end %>			
    </div>
	</div>
	<div class="col m9">
		<div class="card blue-grey darken-1">
      <div class="card-image">
        <div id="wistia_<%= @video.wistia %>" ></div>  
      </div>
      
      <div class="card-content white-text">
        <button class="btn btn-primary" onclick="setPlaySpeed(0.75)">0.75x</button>
        <button class="btn btn-primary" onclick="setPlaySpeed(1)">1x</button>
        <button class="btn btn-primary" onclick="setPlaySpeed(1.25)">1.25x</button>
        <button class="btn btn-primary" onclick="setPlaySpeed(1.5)">1.5x</button>
        <button class="btn btn-primary" onclick="setPlaySpeed(2)">2x</button>
        <br/>
        <span class="card-title"><%= @video.title %></span><br /> 
        
        <!-- Rating Stars - not quite functional -->
        <span id="average_rating" title="Not rated yet!">
          <img alt="1" src="/assets/star-on.png" title="gorgeous">&nbsp;
          <img alt="2" src="/assets/star-on.png" title="gorgeous">&nbsp;
          <img alt="3" src="/assets/star-on.png" title="gorgeous">&nbsp;
          <img alt="4" src="/assets/star-off.png" title="Not rated yet!">&nbsp;
          <img alt="5" src="/assets/star-off.png" title="Not rated yet!">
          <input name="score" type="hidden" readonly="">
        </span>
        
        <p><%= @video.description %></p>
      </div>
      <div class="card-action">
        <%= link_to "Previous", @prev_video if !@prev_video.nil? %>
        <span class="right">
          <%= link_to "Next", @next_video if !@next_video.nil? %>
        </span>	
      </div>
    </div>
	</div>
</div>	

<!--<script src="http://fast.wistia.net/static/E-v1.js"></script>-->

<!--<script src="//fast.wistia.com/embed/medias/2z1nrub0qv.jsonp" async></script>-->
<script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
<!--<span class="wistia_embed wistia_async_2z1nrub0qv popover=true popoverAnimateThumbnail=true" -->
<!--style="display:inline-block;height:84px;width:150px">&nbsp;</span>-->

<script>
  wistiaEmbed = Wistia.embed("<%= @video.wistia %>", {
    videoQuality: "hd-only",
    videoFoam: true
  });
  function setPlaySpeed(speed) {
    wistiaEmbed.playbackRate(speed);
  }
</script>
