<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>
    
  </head>
  <body>
    
    <%= render 'layouts/nav' %>
  
    <div class="row">
  		<div class="col m10 offset-m1">
        <%= yield %>
      </div>
    </div>
    
    <script>
		  $(".button-collapse").sideNav();
	  </script>
  
  </body>
</html>
